body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./img/algorats.png);
  color: white;
  font-family: "Fraunces", "Courier New", Courier, monospace;
  cursor: pointer;
  position: relative;
}

#header {
  background-color: rgb(219, 132, 116);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 8px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 10px;
  color: rgb(255, 246, 222);
}

#subtitle {
  font-size: 18px;
  font-style: italic;
}

a {
  color: gray;
  text-decoration: none;
}

h1 {
  margin-bottom: -5px;
  margin-top: 20px;
  font-family: "Bungee";
  font-weight: normal;
  font-size: 60px;
  padding: 15px;
  padding-top: 5px;
}

.proj-title a {
  font-family: "Yusei Magic";
  color: rgb(132, 90, 35);
  font-size: 40px;
  line-height: 110%;
  text-align: center;
}

.proj-title {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.project p {
  font-size: 20px;
  color: rgb(196, 141, 68);
  text-align: center;
  width: 90%;
}

img {
  width: 100%;
}

.project img {
  border-radius: 0px 0px 10px 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(255, 246, 222);
  color: black;
  border-radius: 10px;
  width: 700px;
  max-width: 85vw;
}

.project p {
  margin-top: 0;
}

#bday-card-text {
  background-color: rgb(255, 246, 222);
  border-radius: 10px;
  color: black;
  padding: 30;
  margin-top: 30vh;
  text-align: center;
}

#bday-card-text a {
  text-decoration: underline;
  font-size: 30px;
  color: rgb(227, 169, 93);
  text-align: center;
}

#about {
  max-width: 600px;
  background-color: rgb(219, 132, 116);
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 100px;
}

#about a {
  text-decoration: underline;
  color: white;
}

#bday-card-text h1 {
  font-family: "Yusei Magic";
  color: rgb(191, 127, 42);
  font-size: 40px;
  margin-top: 5px;
}
