:root {
  --overlay-color: rgba(59, 59, 59, 0.85);
  --big-text-color: white;
  --smaller-text-color: #ddd;
  --smaller-text-color-outline: #dddddd88;
  --smaller-text-color-hover: #ccc;
  --color-active: rgb(221, 177, 198);
  --smaller-text-color-selected: rgb(113, 47, 47);
  --smaller-text-color-selected-bg: rgb(70, 6, 6);
  --tab-height: 60px;
  --spooky-color: #dd91d7;
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0px;
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-image: url("assets/page_background.png");
  background-size: 800px 600px;
}

a {
  color: var(--spooky-color);
}

* {
  box-sizing: border-box;
  position: relative;
}

img {
  image-rendering: pixelated;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

h2 {
  font-family: "Fraunces", serif;
  color: var(--big-text-color);
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  font-variation-settings: "SOFT" 100;
  letter-spacing: 0.8px;
  margin: 20px 0px;
  text-transform: capitalize;
}

h3 {
  font-family: "Fraunces", serif;
  color: var(--big-text-color);
  font-size: 20px;
  font-weight: 600;
  font-variation-settings: "SOFT" 100;
  letter-spacing: 0.8px;
  margin: 20px 0 8px 0;
  text-transform: capitalize;
}

.title-mobile {
  display: none;
}

hr {
  border-top: 1px solid var(--smaller-text-color);
  margin: 24px 0px;
}

.container {
  padding: 0 48px 0px 48px;
  background: var(--overlay-color);
  border: 2px solid #000;
  border-radius: 8px;
  overflow: hidden;
  transition: background 300ms;
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
  row-gap: 24px;
}

.rat-selection {
  width: 90vw;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.rat-options {
  overflow: hidden;
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 8px;
  flex-shrink: 1;
  padding-top: var(--tab-height);
  width: 100%;
}

.big-ratitude {
  width: 700px;
  height: 1000px;
  flex-basis: 700px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -80px;
  margin-top: -35px;
  user-select: none;
  pointer-events: none;
}

.small-ratitude {
  height: 100vh;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}

.big-ratitude img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.option {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px 2px 2px 0;
  line-height: 32px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  color: var(--smaller-text-color);
  border-radius: 4px;
  font-family: "Fraunces", serif;
  font-size: 18px;
  outline-offset: -1px;
  outline: 1px dashed var(--smaller-text-color-outline);
  /* background: #c25700; */
}

.option:hover {
  color: var(--smaller-text-color-hover);
  outline-offset: -1px;
  outline: 1px solid var(--smaller-text-color-hover);
  background: #000;
}

.option:active,
.option:focus {
  color: var(--color-active);
  outline-offset: -1px;
  outline: 1px solid var(--color-active);
}

.option.checked {
  color: var(--smaller-text-color);
  outline-offset: -2px;
  outline: 2px solid var(--smaller-text-color-selected-bg);
  background: var(--smaller-text-color-selected);
  box-shadow: 4px 4px 0px var(--smaller-text-color-selected-bg);
}

h1 {
  margin-top: 40px;
  margin-bottom: 8px;
  font-family: "Fraunces", serif;
  color: var(--big-text-color);
}

.rat-image {
  opacity: 1;
  animation: fadeIn ease-in 0.2s;
  transition: opacity 0.2s ease;
}

.rat-image.hidden {
  opacity: 0;
  pointer-events: none;
}

.other-buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;
  row-gap: 8px;
}

.other-button {
  font-family: "Fraunces", serif;
  font-size: 24px;
  border: 3px solid var(--smaller-text-color-selected-bg);
  background: var(--smaller-text-color-selected);
  color: var(--big-text-color);
  padding: 8px;
  border-radius: 4px;
}

.other-button:hover {
  background: var(--smaller-text-color-selected-bg);
  cursor: pointer;
}

.download-button {
  position: relative;
  display: flex;
  align-items: center;
}

.download-button:hover .dropdown,
.download-button:focus .dropdown,
.download-button:active .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  background-color: var(--smaller-text-color-selected-bg);
}

.download-button img {
  height: 24px;
  padding-left: 16px;
  opacity: 0.7;
}

.dropdown li {
  border: 1px dashed var(--big-text-color);
  padding: 8px 0;
}

.dropdown li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.page {
  display: none;
  min-height: 400px;
  height: 100%;
  padding: 24px;
  overflow-y: auto;
}

.page.selected {
  display: block;
}

/* width */
.page::-webkit-scrollbar {
  width: 12px;
  border-top: 1px solid var(--big-text-color);
}

/* Track */
.page::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.page::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 2px solid #444;
}

/* Handle on hover */
.page::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.rat-tab-container {
  position: absolute;
  left: 0px;
  top: 0px;
  height: var(--tab-height);
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 12px 20px 0px 12px;
  column-gap: 4px;
}

.rat-options::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  height: calc(var(--tab-height) - 1px);
  width: 60px;
  background: linear-gradient(to left, #000, transparent);
  z-index: 1;
  pointer-events: none;
}

.rat-tab {
  padding: 4px 12px;
  white-space: nowrap;
  border: 1px solid var(--big-text-color);
  border-bottom: none;
  color: var(--big-text-color);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px 4px 0 0;
  font-family: "Fraunces", serif;
  font-size: 16px;
}

.rat-tab.selected,
.rat-tab.selected:active,
.rat-tab.selected:focus {
  color: var(--smaller-text-color);
  border: 2px solid var(--smaller-text-color-selected-bg);
  border-bottom: none;
  background-color: var(--smaller-text-color-selected);
  font-weight: 700;
}

.rat-tab:hover {
  cursor: pointer;
}

/* width */
.rat-tab-container::-webkit-scrollbar {
  height: 12px;
  border-top: 1px solid var(--big-text-color);
}

/* Track */
.rat-tab-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.rat-tab-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  border: 2px solid #444;
}

/* Handle on hover */
.rat-tab-container::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.costume {
  outline-color: var(--spooky-color);
  color: var(--spooky-color);
  opacity: 0.35;
  animation: fadeIn2 500ms 500ms forwards;
}

@keyframes fadeIn2 {
  from {
    opacity: 0.35;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.halloween-button {
  font-family: "Fraunces", serif;
  color: var(--big-text-color);
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  font-variation-settings: "SOFT" 100;
  letter-spacing: 0.8px;
  color: var(--spooky-color);
}

.halloween-text {
  margin-left: 8px;
}

.intro {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-style: italic;
  color: var(--big-text-color);
}

.intro::after {
  content: "!";
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(181, 181, 181);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--spooky-color);
}

input:focus + .slider {
  outline: 4px solid var(--spooky-color);
}

input:active + .slider {
  outline: 4px solid var(--spooky-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.halloween-overlay {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.halloween-overlay > * {
  position: absolute;
  width: 100px;
}

.top-1 {
  top: 8px;
}

.top-2 {
  top: 15%;
}

.top-3 {
  top: 20%;
}

.top-4 {
  top: 33%;
}

.top-5 {
  top: 42%;
}

.bottom-1 {
  bottom: 0px;
}

.bottom-2 {
  bottom: 20%;
}

.bottom-3 {
  bottom: 30%;
}

.bottom-4 {
  bottom: 40%;
}

.bottom-5 {
  bottom: 45%;
}

.left-1 {
  left: -3vw;
  animation: wiggle-left 2000ms ease-in forwards;
}

.left-2 {
  left: 0vw;
  animation: wiggle-left-2 2000ms ease-in forwards;
}

.left-3 {
  left: 8px;
  animation: wiggle-left-3 2000ms ease-in forwards;
}

.right-1 {
  right: -3vw;
  animation: wiggle-right 2000ms ease-in forwards;
}

.right-2 {
  right: 0vw;
  animation: wiggle-right-2 2000ms ease-in forwards;
}

.right-3 {
  right: 3vw;
  animation: wiggle-right-3 2000ms ease-in forwards;
}

.rotation-1 {
  transform: rotateZ(-10deg);
}

.rotation-2 {
  transform: rotateZ(30deg);
}

.rotation-3 {
  transform: rotateZ(-20deg);
}

body.halloween {
  background: rgb(255, 183, 121);
  background-image: url("./assets/candybigbg.png");
  background-repeat: repeat;
  background-size: 50%;
}

body.halloween .container {
  background-color: rgba(59, 59, 59, 0.92);
}

body.halloween .halloween-overlay {
  display: block;
}

body.halloween .rat-options {
  background-image: url("./assets/page_background_halloween2.png");
  background-repeat: repeat;
  /* background: rgb(107, 5, 90); */
  --big-text-color: rgb(255, 174, 0);
  --smaller-text-color: rgb(226, 180, 238);
  --smaller-text-color-outline: rgb(178, 140, 223);
  --smaller-text-color-hover: rgb(181, 102, 181);
  --color-active: rgb(255, 255, 255);
  --smaller-text-color-selected-bg: rgb(53, 10, 49);
  --smaller-text-color-selected: rgb(92, 6, 82);
  --spooky-color: rgb(255, 174, 0);
  /* rgb(184, 152, 221); */
}

/* Compact desktop */
@media (max-width: 1600px) {
  h1 {
    margin-bottom: 3vh;
  }

  .container {
    max-width: 92vw;
  }

  .halloween-overlay {
    z-index: -1;
  }

  .halloween-overlay > * {
    width: 120px;
  }

  .left-1 {
    left: -3vw;
  }

  .left-2 {
    left: 3vw;
  }

  .left-3 {
    left: 5vw;
  }

  .right-1 {
    right: -3vw;
  }

  .right-2 {
    right: 5vw;
  }

  .right-3 {
    right: 10vw;
  }
}

/* ipad size-ish */
@media (max-width: 1000px) {
  h1 {
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: stretch;
    max-width: 85vw;
  }

  .rat-selection {
    flex-direction: column-reverse;
    width: 100%;
  }

  .title-desktop {
    display: none;
  }

  .title-mobile {
    display: block;
  }

  .big-ratitude {
    flex: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 142%;
  }

  .small-ratitude {
    flex: none;
    width: 100%;
    margin-top: -30px;
  }

  .left-1 {
    left: -10vw;
  }

  .left-2 {
    left: -5vw;
  }

  .left-3 {
    left: 0px;
  }

  .right-1 {
    right: -10vw;
  }

  .right-2 {
    right: 0vw;
  }

  .right-3 {
    right: 12vw;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  h1 {
    margin-top: 8px;
  }

  .container {
    padding: 16px;
  }

  .page {
    padding: 12px;
  }
}

@keyframes wiggle-left {
  0% {
    transform: translateX(-200px);
  }
  40% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-left-2 {
  0% {
    transform: translateX(-200px);
  }
  45% {
    transform: translateX(5px);
  }
  55% {
    transform: translateX(20px);
  }
  70% {
    transform: translateX(5px);
  }
  85% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-left-3 {
  0% {
    transform: translateX(-150px);
  }
  45% {
    transform: translateX(3px);
  }
  55% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(3px);
  }
  85% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-right {
  0% {
    transform: translateX(200px);
  }
  40% {
    transform: translateX(0);
  }
  55% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-right-2 {
  0% {
    transform: translateX(200px);
  }
  40% {
    transform: translateX(-5px);
  }
  55% {
    transform: translateX(-20px);
  }
  70% {
    transform: translateX(-5px);
  }
  85% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes wiggle-right-3 {
  0% {
    transform: translateX(150px);
  }
  40% {
    transform: translateX(-3px);
  }
  55% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(-3px);
  }
  85% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
